/* Write some CSS below */
h1, h2, h3 {font-family: Roboto, sans-serif;
	color:  skyblue;
	background-color: rgb(30, 30, 30, 0.3);
}

body {
	font-family:  Roboto, sans-serif;
	font-size: 18px;
	color: rgb(30, 30, 30);
	background-color: rgb(230, 230, 230);
	border: 1px solid blue;

}

.footer {
	border: 1px solid blue;
}

.navbar {
  border: 30px solid blue;
}


.banner {
  border: 50px solid orange;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}


a:hover {
  color: #CE2FAE;
}

.btn-blue {
	background-color: #001EC6;
	color: white;
	padding: 10px 15px;
	border-radius: 2px;
}



@media (max-width: 800px) {
	.cards {
		grid-template-columns: 1fr;
		border: 10px solid red;

	}
	.card-white {
		width: 30px;
		height: 40px;
	  border: 150px solid blue;
	}
}

@media (min-width: 500px) {
	.container{
		width: 400px;
	}
}


@media (min-width: 800px) {
	.container{
		width: 600px;
	}
}


@media (min-width: 1000px) {
	.container{
		width: 800px;
	}
}
