/* Write some CSS below */
h1, h2, h3 {font-family: Roboto, sans-serif;
	color:  skyblue;
	background-color: rgb(30, 30, 30, 0.3);
}

body {
	font-family:  Roboto, sans-serif;
	font-size: 18px;
	color: rgb(30, 30, 30);
	background-color: rgb(230, 230, 230);

}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}


a:hover {
  color: #CE2FAE;
}