/* Write some CSS below */
h1, h2, h3 {font-family: Roboto, sans-serif;
	color:  skyblue;
	background-color: rgb(30, 30, 30, 0.3);
}

body {
	font-family:  Roboto, sans-serif;
	font-size: 18px;
	color: rgb(30, 30, 30);
	background-color: rgb(230, 230, 230);

}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}


a:hover {
  color: #CE2FAE;
}

.btn-blue {
	background-color: #001EC6;
	color: white;
	padding: 10px 15px;
	border-radius: 2px;
}


@media (max-width: 800px) {
	.cards {
		grid-template-columns: 1fr;
	}
	.card-white {
		width: auto;
	}
}

@media (min-width: 500px) {
	.container{
		width: 400px;
	}
}